@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import 'variable';

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    color: #6742c3;
    scroll-behavior: smooth;
	font-family: 'Dosis', sans-serif;

}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    outline: none;
    font-weight: 400;
	color: $anchor-color;
}

a:hover {
    color: $anchor-color-hover;
}

ul {
    margin-bottom: 0;
    padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.cp {
    cursor: pointer
}
html,body{
    height: 100%;
}
p {
    margin-bottom: 0px;
    width: 100%;
}
.no-padding {
    padding: 0px;
}
.no-margin-bottom{
  margin-bottom: 0px !important;
}

.no-margin {
    margin: 0px;

}
.hid{
    display: none;
}
.top-mar{
    margin-top: 15px;
}
.h-100{
    height: 100%;;
}
::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important;
}
.container-fluid{
    padding: 0px;
}
body{
    background-color:#f7f7ff !important;
    font-family: 'Dosis', sans-serif;
    color: #444444;
    @include shado-1();
}
.btn-xs {
  padding  : .25rem .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
	i{
		font-size: 11px;
	}
}

.table{
    .btn-xs {
        margin-right: 5px;
    }
}
.err{
    width: 100%;
    text-align: center;
    color: #d81b60;
}

.teft-part{
    width: 250px;
    float: left;
    background-color: #FFFFFF;
    height: 100%;
    z-index: 99;
    @media screen and (max-width: 960px) {
        position: absolute;
        margin-left: -250px;
        margin-top: 60px;
        height: calc(100% - 60px);
    }
}

.right-part{
    height: 100%;
    width: calc(100% - 250px);

    @media screen and (max-width: 960px) {
        width: 100% !important;
    }
}
#sidebar.active {
   // margin-left: -250px;
   width: 70px;
   @media screen and (max-width: 960px) {
       width: 240px;
   }

}
#content.active{
   // width: 100%;
   width: calc(100% - 70px);
   @media screen and (max-width: 705px) {
        width: 100% !important;
   }
}
#content, #sidebar {
    
    transition: all 0.3s;
}

#sidebar.active {
    @media screen and (max-width: 960px) {
        margin-left: 0px;
    }
    @media screen and (min-width: 961px) {
        .logo-part{
            img{
                margin-top: 1px;
            }
            span{
                display: none;
                @media screen and (max-width: 960px) {
                    display: block;
                }
            }
        }
        nav{
            ul{
                li{
                    border-bottom: 1px solid #CCC;
                    padding: 15px 2px;
                    padding-top: 17px;
                    .rit-ico{
                        font-size: 15px;
                        padding-top: 5px;
                        margin-right: 5px;
                    }
                    i{
                        font-size: 22px;
                    }
                    span{
                        display: none;



                    }
                    &:hover{
                        span{
                            display: block;
                            position: absolute;
                            background-color: #FFF;
                            @include shado-1();
                            width:230px;
                            margin-left: 68px;
                            padding: 10px;
                            margin-top: -34px;
                            .inner-nav{
                                margin-top: 10px;
                            }
                            &:hover{
                                .inner-nav{
                                    display: block;
                                    ul{
                                        margin-left: -10px;
                                        li{
                                            padding: 10px;
                                            i{
                                                font-size: 17px;
                                                padding-top: 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.teft-part{
    @include shado-3();
    .slimScrollDiv{
       overflow: none !important;
       
    }
    .logo-part{
        height: 60px;

        span{
            font-size: 21px;
        }
        img{
          padding: 3px;
            text-align: left;
        }
        padding: 4px 10px;
        padding-top:5px;
        text-align: left;
        border-bottom: 1px solid #E8E8E8;
    }
    nav{
        ul{

            li{
                padding: 10px 0px;
                font-size: 15px;
                cursor: pointer;
                i{
                    margin-right: 12px;
                    margin-left: 20px;
                    color: #5B5B5B;
                }
                .rit-ico{
                    float: right;
                    margin-right: 12px;
                    font-size: 15px;
                    padding-top: 5px;
                }
            }
            .active{
                .inner-nav{
                    display: block !important;
                    transition: all 0.3s;
					margin-top: 10px;
					margin-bottom: -10px;
                }
            }
            .bottom-line{
                border-bottom: 1px solid #CCC;
            }
            .inner-nav{
                background-color: #F9F9F9;
                transition: all 0.3s;
                display: none;
                padding-top: 5px;
                ul{

                    li{
                        border-bottom: 1px solid #DBDBDB;
                        padding:  10px;
                        font-size: 15px;
                    }
                }

            }
        }
    }
}
.float-auto{
  float: none;
  margin: 0 auto;
}
.vbkmn{
    padding-top: 10px;
}

.right-header{
    background-color: rgb(223, 223, 223);
    height: 60px;

    @media screen and (max-width: 960px) {
        position: absolute;
        width: 100%;
        z-index: 999;
    }
    @media screen and (max-width: 960px) {
        .search-bar{
            display: none;
        }
    }

    @include shado-4();
    .left-ul {

        margin-bottom: 0px;
        li{
            float: left;
            padding: 15px;
            @media screen and (max-width: 364px) {
                padding-left: 10px;
            }
            i{
                font-size: 18px;
                position: absolute;
               color:#444;
            }
        }
        .search-bar{
            margin-left: 10px;
            height: 30px;
            input {
                border: 1px solid #dadaf1;
                font-size: 15px;
                width: 330px;
                border-radius: 30px;
                height: 30px;
                padding: .375rem 2.0rem .375rem .75rem;
                background: #f7f7ff;
            }
            i {
                position: relative;
                top: -28px;
                left: 92%;
                color: #000;
                font-size: 14px;
            }
        }
    }
    .right-ul{
        float:right;
        margin-right: 20px;
        @media screen and (max-width: 364px) {
            margin-right: 10px;
            li{
                padding: 18px 15px !important;
            }
        }
        li{
            float: left;
            padding: 18px 25px;
            font-size: 20px;

            img{
                width: 40px;
                border-radius: 50px;
                margin-top: -7px;
            }
        }
        .dropdown-menu{
            @include shado-1();
            margin-top: 20px;
            border-radius: 20px;
            padding: 12px;
        }
        .badge{
            font-size: 12px;
            position:absolute;
            top: 10px;
            margin-left: -10px;
        }
    }
}
.new-messages{
    padding: 0px;
    border-radius: 0px;
    width: 320px;
    .list-title{
        padding: 10px !important;
        font-size: 1rem !important;
        text-align: center;

        .badge{
            position: relative;
            border-radius: 2px;
            color: #fff;
            background-color: #fd3550;
            margin-top: -15px;
            @include card-1();
        }
    }
    .message-item{
        padding: 10px !important;
        h6{
            margin-bottom: 2px;
        }
        p{
            font-size: 13px;
            margin-bottom: -5px;
        }
        small{
            font-size: 12px;

        }
        img{
            margin-right: 1rem !important;
            margin-top: 2px !important;
            width: 60px !important;
            @include card-1();
            background-color: #FFF;
            padding: 2px;
            margin-left: 5px;
        }
    }
    .foter-message{
        text-align: center;
        padding: 10px !important;
        p{
            text-align: center;
            font-size: .9rem;
        }
    }
    .notification-item{
       i{
           font-size: 24px;
           margin-top: 5px;
           margin-left: 2px;
       }
        padding: 10px !important;
        h6{
            margin-bottom: 2px;
            font-size: 13px;
        }

        p{
            font-size:12px;
        }

    }

}

.user-details{
    padding: 0px;
    margin: 0px;
     ul{
         li{
            padding: 10px !important;
            float:none;
            border-bottom: 1px solid #E1E1E1;
            padding-left: 15px !important;
            font-size: 1rem !important;
            i{
                font-size: 18px !important;
                margin-top: 5px;
            }
         }
     }

     .user-info{
         h6{
             margin-bottom: 0px;
         }
         p{
             font-size: 13px;
             margin-bottom: 5px;
         }
         img{
            width: 50px;
            margin-top: 5px !important;
            margin-left: 6px !important;
        }
     }
}

.content-container{
    padding: 20px 30px;

    @media screen and (min-width: 961px) {
        height: calc(100% - 70px);
	    overflow: auto;
    }

	width: 100%;

}

@media screen and (max-width: 1200px) {
    .content-container{
        margin-top: 50px;
        padding-top: 40px;
        background-color: white;
    }
}

@media screen and (max-width: 986px) {
    .chart-cover{
        margin-top:25px;
    }
 
}

@media screen and (max-width: 590px) {
    .content-container{
        margin-top: 40px;
    }
    .widget-icon{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 45px!important;
        width: 80%;
    }
}

.info-card{
        background-color: #FFf;
        @include shado-5();
        padding: 15px;
        border-radius: .25rem;
        font-size: .9rem;
        span{
            display: none;
        }
        .row{
            margin-top: 15px;
           h2{
               margin-bottom: 0px;
               margin-top: 8px;
              font-size: 1.7rem;
           }
            svg{
                margin-top: 10px;
            }
            .donut-spn{
                svg{
                    margin-top: -0px;
                }
            }
    }
}

.world-map-row{
	margin: 0px;
    margin-top: 30px;
    background-color: #FFF;
    @include shado-5();
	.world-map{
		padding: 30px;
		padding-bottom: 0px;

		svg{
			margin-top: -30px;
		}
		.jqvmap-zoomin{
			padding: 11px 6px;
			padding-right: 6px;
			line-height: 0px;
			text-align: center;
			margin-left: 2px;
			padding-right: 15px;
			margin-top: -10px;
			@include card-1();
		}
		.jqvmap-zoomout{
			padding: 11px 6px;
			padding-right: 6px;
			line-height: 0px;
			text-align: center;
			margin-left: 2px;
			padding-right: 15px;
			@include card-1();
		}
    }
    .table-col{
        padding: 30px;
        padding-left: 20px;
        margin-top: 17px;
        tr{
            border-bottom: 1px solid #EFEFEF;
            td{
                border-top: 0px !important;
                font-size: .9rem;
            }

        }
    }
}

.info-widget-2{
    margin-top: 20px;
    .widget-2-cover{
        padding: 20px;
        padding-left: 10px;
        background-color: #FFF;
        border-radius: 3px;
        @include shado-5();
        .widget-icon{
            padding: 20px 40px;
            padding-left: 20px;
            

             border-radius: 18px;
             
             i{
                 color: #FFFFFF;
                 font-size: 34px;
             }
        }

    }
    .color-1{
        .widget-icon{
            background: linear-gradient(60deg,#26c6da,#00acc1);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
        }
        h4{
            color:#00acc1;
        }
    }
    .color-1{
        .widget-icon{
            background: linear-gradient(60deg,#26c6da,#00acc1);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(0,188,212,.4);
        }
        h4{
            color:#00acc1;
        }
    }
    .color-2{
        .widget-icon{
            background: linear-gradient(60deg,#ec407a,#d81b60);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(233,30,99,.4);
        }
        h4{
            color:#d81b60;
        }
    }
    .color-3{
        .widget-icon{
            background: linear-gradient(60deg,#ffa726,#fb8c00);
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14),0 7px 10px -5px rgba(255,152,0,.4);
        }
        h4{
            color:#fb8c00;
        }
    }
}

#user-icon{
    margin-left: -10px;
    padding-right: 60px;
}

.chart-row{
    margin-top: 30px;
    .chart-cover{
        @include shado-5();
        background-color: #FFF;
        border-radius: 30px;
        padding: 15px;
        .card-header{
            background-color: #FFF;
            font-weight: 800;
            color:	#6742c3;
        }
        .card-action{
            float: right;
            .dropdown-toggle{
                &::after{
                    display: none;
                }
            }
            .dropdown-menu{
                @include card-1();
            }
        }
    }
}

.footer-admin{
    padding: 15px;
    border-top: 1px solid #DFDFDF;
    margin-top: 30px;
    p{
        text-align: center;
        font-size: 0.8rem;
    }
}

.page-title{
    width: 100%;
    h4{
      width: 100%;
    }
    ul{
      li{
        float: left;
        font-size: 0.9rem;
        a{
          color: #008cff !important;
        }
        i{
          width: 50px;
          font-size: 18px;
          text-align: center;
          font-size: 13px;
          padding-top: 3px;
        }
      }
    }
}

.body-content{
    min-height: 500px;
    padding: 30px 0px;
}
.form-body{
  padding: 20px;
}
.panel-card{
    background-color: #FFF;
    border-radius: 30px;
    padding: 18px;
    @include shado-3();
    .panel-header{
        font-weight: 600;
        padding: 12px;
        border-bottom: 1px solid #CCC;
    }
    .panel-body{
        padding: 10px;
    }

}
.form-group{
  margin-bottom: 15px;
  label{
    padding-top: 6px;
    font-size: 0.9rem;
  }
  .form-indicat{
      float: right;
      padding-top: 3px;
  }
  .form-control{
    background-color: #f7f7ff;
    border-radius: 20px;
    padding: 5px 10px;
    &:focus{
      border:2px solid #007bff;
      box-shadow: none;
    }
  }
  .form-control-curve{
    border-radius: 15px;
  }
}

.oter-header{
    @include shado-3();
    padding: 10px;
    position: absolute;
    width: 100%;
    background-color: #FFF;
}
.login-cover{
   
	.login-box{
		padding: 30px;
		@include shado-3();
		border-radius: 40px;
		border-top: 1px solid $eq-color-2;
		border-bottom: 1px solid $eq-color-2;
		.logo-cover{
			strong{
                font-size: 2rem;
                width: 100%;
                text-align: center;
			}
			img{
				width: 100px;
			}
			margin-bottom: 10px;
		}
	}
	float: none;
    margin: auto;
   
	form{
		padding: 20px;
		width: 100%;

		.form-group{
			width: 100%;
			margin-bottom: 22px;
			input{
				border-radius: 50px;
			}
			i{
				position: absolute;
				right: 14px;
				top: 10px;
			}

		}
		.align-right{
			text-align: right;
			color: #0056b3;
		}
		.btn-round{
			border-radius: 25px;
			width: 100%;
			@include card-1();
		}
	}
	.reset-tit{
		text-align: center;
		strong{
			text-transform: uppercase;
		}
		

	}
}

#btn_login_adm{
    background-color: $eq-color-2;
    margin-top: 10px;
    border-radius: 30px;
    padding: 12px;
}

.table{
	tr {
		th,td{
			font-size: .9rem;
		}
	}
}

.remove-model{
  h5{
    font-size: 1rem;
  }
  .vbn{
    width: 50%;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  .vvg{
    border-right: 1px solid #CCC;
  }
}

.dataTables_filter{
    margin-top: -37px;
    margin-right: 10px;
    input{
        border: 1px solid #dadaf1;
        font-size: 15px;
        width: 330px;
        height: 30px;
        padding: .375rem 2.0rem .375rem .75rem;
        background: #f7f7ff;
    }
}
.dataTables_length{
    label{
        padding-top: 12px;
        padding-left: 10px;
        select{
            border: 1px solid #dadaf1;
            font-size: 15px;
            width: 330px;
            height: 30px;
            padding: .375rem 2.0rem .375rem .75rem;
            background: #f7f7ff;
        }
    }
   
}

.dataTables_info{
    max-width: 300px;
    padding-left: 10px;
    padding: 10px;
    margin-top: -9px !important;
}

.dataTables_paginate{
    max-width: 300px;
    padding-right: 20px;
    margin-top: -34px !important;
    float: right ;
    a{
        padding: 5px;
        font-size: 0.9rem;
        cursor: pointer;
        padding: .3rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #007bff;
        background-color: #fff;
        border: 1px solid #dee2e6;
            border-top-color: rgb(222, 226, 230);
            border-right-color: rgb(222, 226, 230);
            border-bottom-color: rgb(222, 226, 230);
            border-left-color: rgb(222, 226, 230);
    }
    .current{
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    
    }
}
.dataTable{
    border-bottom: 1px solid #CCC;
    margin-bottom: -5px !important;
}
.bgghn-err{
    margin-top: -10px;
    margin-bottom: 20px;
    display: none;
}


/* ===================================== Validation CSS ================================== */

.smart-valid{
	position: absolute;
	width: 250px;
	background-color: #fd3550;
	left: 105%;
	color: #FFF;
	font-size: 16px;
	padding: 8px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	border-radius: 2px;
	margin-top: 9px;
	padding-left: 18px;
	display: none;
	top:-13px;
	z-index: 999;


}
@media screen and (max-width: 720px) {
	.smart-valid{
		position: absolute;
		width: 250px;
		background-color: #fd3550;
		left: 70px !important;
		color: #FFF;
		font-size: 13px;
		padding: 5px;
		box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		border-radius: 2px;
		margin-top: 9px;
		padding-left: 38px !important;
		display: none;
		top:-54px !important;
		z-index: 999;
	}
	.smart-valid::before{
		box-sizing: border-box;
	    left: 5px !important;
	    background-color: #fd3550;
	    content: "";
	    position: absolute;
	    z-index: 100;
	    height: 15px;
		top: 12px !important;
	    transform: rotate(135deg);
	    width: 15px;
	}
}
.smart-valid::before{
	box-sizing: border-box;
    left: -12px;
    background-color: #fd3550;
    content: "";
    position: absolute;
    z-index: 100;
    height: 25px;
	top: 8px;
    transform: rotate(135deg);
    width: 25px;

}
.in-err{
	border:2px solid  #fd3550;
}
.smart-val-left{
	right: 100%;
	left: unset;
}

.smart-val-left::before{
	left: unset;
	right: -12px;
}

#login-err{
  color: #c82333;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.nins{
	padding-top: 5px;
}
.ads-card{
    p{
        font-size: .8rem;   
    }
    margin-bottom: 20px;
}
.rcm{
    margin-top: 5px;
    font-size: .77rem;
}

.toggle-switch{
    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
    }

    /* Hide default HTML checkbox */
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* The slider */
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .slider:before {
      position: absolute;
      content: "";
      height:15px;
      width: 15px;
      left: 4px;
      bottom: 5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    input:checked + .slider {
      background-color: #2196F3;
      height: 25px;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
      border-radius: 34px;
    }

    .slider.round:before {
      border-radius: 50%;
    }
}

.range-boot{
    padding-top: 5px;
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      border-radius: 5px;  
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%; 
      background: #2196F3;
      cursor: pointer;
    }

    .slider::-moz-range-thumb {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #2196F3;
      cursor: pointer;
    }
}