@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem; }
  .btn-xs i {
    font-size: 13px; }

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  color: #747272; }

a:hover {
  color: #252525; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html,
body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

body {
  background-color: #f7f7ff !important;
  color: #373737;
  width: 100%;
  overflow-x: hidden; }

.page-title {
  padding: 30px;
  margin: 0px;
  padding-top: 10px;
  color: #6742c3; }
  .page-title h2 {
    width: 100%;
    text-align: center;
    font-weight: 900; }
  .page-title p {
    width: 100%;
    text-align: center; }
    .page-title p i {
      width: 60px;
      text-align: center; }

.session-title {
  padding: 30px;
  margin: 0px; }
  .session-title h2 {
    width: 100%;
    text-align: center; }
  .session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto; }
  .session-title span {
    float: right;
    font-style: italic; }

.inner-title {
  padding: 20px;
  padding-left: 0px; }
  .inner-title h2 {
    text-align: left;
    font-size: 1.5rem; }

#btnLogin {
  width: 100%; }

.btn-success {
  background-color: #b5316a;
  border-color: #b5316a; }
  .btn-success:hover {
    background-color: #b5316a !important;
    border-color: #b5316a !important; }
  .btn-success:active {
    background-color: #b5316a !important;
    border-color: #b5316a !important; }
  .btn-success:focus {
    background-color: #b5316a !important;
    border-color: #b5316a !important;
    box-shadow: none !important; }

.sign-up-text {
  color: #6742c3;
  font-size: 14px;
  font-weight: lighter; }

.btn-info {
  font-weight: 900;
  background-color: #c44dcc;
  border: 2px solid #c44dcc;
  color: #f7f7ff;
  transition: .3s; }
  .btn-info:hover {
    background-color: #6742c3;
    animation: pulse 1s infinite;
    transition: .3s;
    border: #6742c3; }
  .btn-info:active {
    background-color: #c44dcc !important;
    border-color: #c44dcc !important; }
  .btn-info:focus {
    background-color: #c44dcc !important;
    border-color: #c44dcc !important;
    box-shadow: none !important; }
@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
.btn {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  border-radius: 30px;
  padding: 10px 30px; }

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid #6742c3; }

.btn-light {
  background-color: #e37777;
  border: 2px solid #e37777;
  color: #f7f7ff;
  transition: .3s;
  font-weight: 900; }
  .btn-light:hover {
    background-color: #faaaaa;
    animation: pulse 1s infinite;
    transition: .3s;
    border: #faaaaa;
    color: white; }
  .btn-light:active {
    background-color: #e37777 !important;
    border-color: #e37777 !important; }
  .btn-light:focus {
    background-color: #faaaaa !important;
    border-color: #faaaaa !important;
    box-shadow: none !important; }
@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@media screen and (max-width: 1199px) {
  .container {
    max-width: 100%; } }
@media screen and (max-width: 800px) {
  .main-banner {
    padding: 60px; } }
.collapse.show {
  display: block !important; }

.form-row {
  margin-bottom: 20px; }
  .form-row .rit-coln {
    float: right;
    font-weight: 900;
    padding-top: 2px; }
  .form-row label {
    padding-top: 5px; }
  .form-row .form-control {
    background-color: #f7f7ff;
    border-radius: 30px; }

header {
  margin: 35px;
  margin-right: 45px;
  margin-left: 45px;
  border-radius: 45px;
  padding: 15px;
  background-color: #FFF;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  @media screen and (max-width: 991px) {
    header .sarch-box {
      padding-right: 0px; }
    header i {
      left: -9% !important; }
    header img {
      margin-top: 5px; } }
  @media screen and (max-width: 767px) {
    header #search {
      display: none;
      padding-right: 15px;
      margin-bottom: -15px; }
    header .sarch-box i {
      top: -28px !important;
      left: 96% !important; }
    header img {
      margin-top: 8px; } }
  @media screen and (max-width: 767px) {
    header .sarch-box i {
      left: 94% !important; } }
  @media screen and (max-width: 429px) {
    header img {
      width: 130px;
      margin-top: 10px; }
    header .sarch-box i {
      left: 92% !important; } }
  @media screen and (max-width: 371px) {
    header img {
      margin-top: 3px; }
    header .d-lokj {
      padding: 0px; } }
  header .sarch-box input {
    min-width: 300px;
    width: 80%;
    height: 35px;
    margin-top: 6px;
    border: 1px solid #dadaf1;
    font-size: 15px;
    border-radius: 30px;
    padding: .375rem 2.0rem .375rem .75rem;
    background: #f7f7ff; }
    @media screen and (max-width: 991px) {
      header .sarch-box input {
        width: 250px;
        min-width: 250px; } }
    @media screen and (max-width: 767px) {
      header .sarch-box input {
        width: 100%;
        min-width: 100%; } }
  header .sarch-box i {
    position: relative;
    top: 15px;
    left: -5%;
    color: #000;
    font-size: 14px; }
    @media screen and (max-width: 1127px) {
      header .sarch-box i {
        left: -6%; } }
    @media screen and (max-width: 944px) {
      header .sarch-box i {
        left: -7%; } }
  header .login-btns .btn {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
    border-radius: 40px; }
  header .search-box {
    position: absolute;
    display: none;
    width: 72%;
    background-color: #FFF;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    margin-top: 41px;
    margin-left: -3%; }
    header .search-box ul li {
      padding: 10px;
      border-bottom: 1px solid #CCC; }
      header .search-box ul li h6 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 0px; }
      header .search-box ul li p {
        font-size: 13px;
        height: 18px;
        overflow: hidden; }
      header .search-box ul li:hover {
        background-color: #6742c3;
        color: #FFF; }
        header .search-box ul li:hover h6 {
          color: #FFF; }
        header .search-box ul li:hover p {
          color: #FFF; }
  header .forum-dd {
    text-align: right;
    cursor: pointer; }
    header .forum-dd img {
      width: 42px;
      border-radius: 50px;
      margin-top: -3px; }
    header .forum-dd .dropdown-menu {
      box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
      margin-top: 15px;
      border-radius: 30px;
      padding: 10px; }
      header .forum-dd .dropdown-menu button {
        cursor: pointer;
        width: 180px; }
        header .forum-dd .dropdown-menu button i {
          font-size: 13px;
          margin-right: 10px; }

.d-lokj i {
  float: right;
  padding: 16px;
  font-size: 25px; }
  @media screen and (max-width: 371px) {
    .d-lokj i {
      padding: 10px;
      font-size: 22px; } }

.body-content {
  padding: 22px 0px; }
  @media screen and (max-width: 1200px) {
    .body-content {
      padding: 24px; } }

.forum_title h1 {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 20px;
  color: #6742c3;
  text-align: center;
  text-decoration: overline underline;
  text-transform: uppercase; }

.btn_landing {
  margin-top: 15px; }

.btn_landing a {
  cursor: pointer;
  border: 2px solid #6742c3;
  padding: 15px 60px;
  border-radius: 40px;
  margin-top: 10px;
  color: white;
  transition: background-color 0.5s ease;
  background-image: -webkit-linear-gradient(30deg, #6742c3 50%, transparent 50%);
  background-image: linear-gradient(30deg, #6742c3 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  font-weight: 900; }

.btn_landing a:hover {
  color: #3f3f3f;
  font-weight: 900;
  background-position: 100%;
  background-color: transparent; }

/* 
---------------------------------------------
Banner Style
--------------------------------------------- 
*/
.main-banner {
  background: #f7f7ff;
  background: linear-gradient(162deg, rgba(254, 248, 252, 0.2022934174) 60%, rgba(223, 105, 231, 0.6364670868) 81%, rgba(195, 28, 204, 0.275122549) 98%);
  background-position: center center;
  background-size: cover;
  padding: 26px 0px 80px 0px;
  position: relative;
  overflow: hidden; }
  @media screen and (max-width: 1200px) {
    .main-banner {
      padding: 26px 20px 80px 20px; } }

.main-banner .left-content {
  margin-right: 15px; }

.main-banner .left-content h6 {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  color: #fa65b1;
  margin-bottom: 15px;
  text-transform: uppercase; }

.main-banner .left-content h2 {
  z-index: 2;
  position: relative;
  font-weight: 700;
  font-size: 50px;
  color: #2a2a2a;
  margin-bottom: 20px; }

.main-banner .left-content p {
  margin-bottom: 30px;
  margin-right: 45px; }

.main-banner .right-image {
  text-align: right;
  position: relative;
  z-index: 20; }

.main-banner .right-image img {
  max-width: 593px; }
  @media screen and (max-width: 700px) {
    .main-banner .right-image img {
      margin-top: 40px; } }

.cat-box {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  background-color: #FFF;
  border-radius: 40px;
  padding: 20px;
  margin-bottom: 22px; }
  .cat-box h6 {
    padding: 20px;
    margin-bottom: 0px;
    width: 100%;
    font-weight: 600; }
    .cat-box h6 i {
      float: right; }
  .cat-box ul li {
    padding: 10px 15px;
    border-top: 1px solid #E6E6E6;
    color: #6A6A6A; }
    .cat-box ul li span {
      float: right;
      background-color: #e37777;
      border-radius: 40px;
      font-size: 12px;
      padding: 6px 8px; }

#vu-statsic h6 {
  text-align: center;
  font-weight: 900;
  font-size: 27px;
  color: #6742c3;
  margin-bottom: 18px; }

.forum-status .fs-ro {
  text-align: center;
  border-top: 1px solid #E6E6E6; }
  .forum-status .fs-ro .scc {
    padding: 20px; }
  .forum-status .fs-ro i {
    font-size: 30px;
    color: #A7A7A7; }
  .forum-status .fs-ro p {
    margin-top: 10px;
    font-size: .8rem;
    margin-bottom: 6px; }
  .forum-status .fs-ro b {
    font-size: .9rem;
    color: #444; }
  .forum-status .fs-ro .r-bord {
    border-right: 1px solid #E6E6E6; }

.top-posts .logoo {
  padding: 10px;
  padding-left: 15px;
  padding-right: 7px;
  padding-top: 5px;
  vertical-align: middle; }
  .top-posts .logoo span {
    color: #FFF;
    background-color: #c44dcc;
    border-radius: 40px; }
    .top-posts .logoo span i {
      position: absolute;
      font-size: 27px;
      color: #9D9D9D;
      margin-top: 12px;
      margin-left: -17px;
      display: none; }

.form-likk li {
  font-size: 0.9rem !important; }

.notify-list li {
  float: right;
  border: 0px; }
.notify-list .notify {
  margin-right: 30px;
  border-radius: 40px;
  padding-top: 6px; }
  .notify-list .notify .dropdown-menu {
    padding: 10px;
    margin-left: -30%;
    margin-top: 20px;
    border: 0px;
    border-radius: 30px;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
    .notify-list .notify .dropdown-menu li {
      padding: 10px; }
      .notify-list .notify .dropdown-menu li i {
        margin-right: 7px; }
      .notify-list .notify .dropdown-menu li h6 {
        font-size: 0.9rem;
        margin-bottom: 0px; }
      .notify-list .notify .dropdown-menu li p {
        font-size: 0.9rem; }

.view-box {
  width: 100%;
  text-align: center;
  padding: 12px;
  font-size: 1.1rem; }

.post-count {
  min-width: 135px;
  padding: 10px; }
  .post-count li {
    text-align: center; }

.post-detail-big-sing a {
  color: #00a8df !important; }

.singl-post-row {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  background-color: #FFF;
  margin-bottom: 20px;
  border-radius: 40px; }
  .singl-post-row .post-detail {
    padding: 20px;
    overflow: hidden; }
    .singl-post-row .post-detail h2 {
      color: #6742c3;
      font-size: 18px; }
    .singl-post-row .post-detail p {
      opacity: 80%;
      font-size: 0.9rem;
      text-indent: 10px;
      height: 45px;
      overflow: hidden;
      text-align: justify; }
  .singl-post-row .image-cover {
    padding-left: 25px; }
    .singl-post-row .image-cover img {
      border-radius: 50px;
      max-width: 65px; }
  .singl-post-row .post-count ul {
    border-left: 1px solid #F1F1F1; }
    .singl-post-row .post-count ul .carfg {
      padding: 10px;
      padding-bottom: 15px; }
    .singl-post-row .post-count ul .scgv {
      font-size: 12px;
      padding: 5px 20px !important; }
      .singl-post-row .post-count ul .scgv i {
        margin-right: 8px;
        padding-top: 3px; }
    .singl-post-row .post-count ul .no-bb {
      border-bottom: 0px; }
    .singl-post-row .post-count ul li {
      padding: 5px;
      border-bottom: 1px solid #F1F1F1; }
      .singl-post-row .post-count ul li span {
        color: #FFF;
        background-color: #d657b7;
        float: right;
        border-radius: 40px;
        font-size: 13px;
        padding: 15px;
        float: none;
        margin: auto; }
        .singl-post-row .post-count ul li span i {
          position: absolute;
          font-size: 27px;
          color: #9D9D9D;
          margin-top: -5px;
          margin-left: 2px;
          display: none; }
  @media screen and (max-width: 429px) {
    .singl-post-row .post-detail h2 {
      font-size: 15px !important; } }

footer {
  background-color: #FFF;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  padding: 5px; }
  footer img {
    width: 81px; }
  footer p {
    padding-top: 16px; }
  footer .foot-sl {
    float: right; }
    footer .foot-sl li {
      float: left;
      padding: 15px; }
  @media screen and (max-width: 429px) {
    footer p {
      padding-top: 5px;
      font-size: 13px; }
    footer .foot-sl {
      float: none;
      margin: auto; } }

.login-model {
  padding-top: 5%; }
  .login-model .modal-content {
    padding: 20px;
    border-radius: 30px; }
    .login-model .modal-content .modal-header {
      padding: 10px;
      padding-left: 20px; }
    .login-model .modal-content .fp {
      float: right;
      font-size: 0.9rem;
      margin-top: -20px;
      font-weight: 500;
      color: #e83e8c; }

.single-post {
  background-color: #FFF;
  border-radius: 40px;
  padding: 15px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  .single-post .user-deail {
    width: 100%;
    padding: 10px; }
    .single-post .user-deail .user-image img {
      border-radius: 50px;
      width: 80px; }
    .single-post .user-deail .user-name {
      padding-left: 15px; }
      .single-post .user-deail .user-name b {
        color: #6742c3;
        font-size: 18px;
        font-weight: 800;
        opacity: 85%; }
    .single-post .user-deail .timing {
      float: right;
      width: 200px;
      text-align: center; }
  .single-post .post-detail {
    border-top: 1px solid #E5E5E5;
    padding: 20px; }
    .single-post .post-detail h2 {
      font-size: 22px;
      font-weight: 600;
      color: #6742c3;
      margin-bottom: 13px; }
    .single-post .post-detail p {
      font-size: 15px;
      text-align: left;
      text-indent: 0px; }
    .single-post .post-detail img {
      max-width: 100% !important; }
  .single-post .img-det {
    padding: 0px 20px;
    padding-bottom: 20px;
    text-align: center; }
  .single-post .lik-detail {
    width: 100%;
    border-top: 1px solid #E5E5E5; }
    .single-post .lik-detail ul {
      float: right;
      margin-right: 15px; }
      .single-post .lik-detail ul li {
        float: left;
        padding: 10px 20px; }
        .single-post .lik-detail ul li i {
          margin-right: 3px; }

.replay-btn {
  padding: 15px;
  text-align: right; }
  .replay-btn .btn {
    margin-right: -15px; }

.all-replayies {
  background-color: #FFF;
  border-radius: 40px;
  padding: 30px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  .all-replayies .replay-head {
    font-size: 18px;
    color: #6742c3;
    font-weight: 600;
    padding: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 20px; }
  .all-replayies .single-replay {
    border-bottom: 1px solid #E5E5E5; }
    .all-replayies .single-replay .lik-box {
      padding: 25px;
      text-align: center; }
      .all-replayies .single-replay .lik-box i {
        font-size: 32px;
        color: #919191;
        margin-bottom: 10px;
        cursor: pointer; }
    .all-replayies .single-replay .message {
      padding: 15px;
      padding-left: 0px; }
      .all-replayies .single-replay .message p {
        font-size: 15px; }
    .all-replayies .single-replay .reply-user-det {
      font-weight: 900;
      padding-top: 12px;
      margin-top: 10px;
      border-top: 1px solid #F5F5F5;
      width: 100%;
      font-size: 14px; }
      .all-replayies .single-replay .reply-user-det span {
        float: right; }
      .all-replayies .single-replay .reply-user-det .reply-control {
        float: right; }
        .all-replayies .single-replay .reply-user-det .reply-control li {
          float: left;
          padding: 0px 20px;
          font-size: 0.9rem;
          cursor: pointer; }

.post-replay {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  background-color: #FFF;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 40px; }
  .post-replay .replay-head {
    font-size: 16px;
    color: #6E6E6E;
    padding: 20px;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 0px;
    width: 100%;
    padding-left: 20px; }
  .post-replay .replay-text {
    padding: 10px; }
    .post-replay .replay-text .textarea {
      height: 400px; }
    .post-replay .replay-text .note-btn {
      padding: 5px 8px; }
    .post-replay .replay-text .note-fontname {
      display: none; }
  .post-replay .post-replay-btn {
    margin-top: 10px;
    text-align: right; }

.profile-cover {
  padding-left: 40px; }
  @media screen and (max-width: 991px) {
    .profile-cover {
      padding-left: 20px; } }
  @media screen and (max-width: 767px) {
    .profile-cover {
      padding-right: 20px !important; } }
  .profile-cover .ch-img {
    position: absolute;
    right: 0px;
    margin-top: -20px;
    margin-right: 10px;
    z-index: 99; }

.side-menu-profile {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  background-color: #FFF;
  border-radius: 30px;
  padding: 10px; }
  .side-menu-profile .profile-cover {
    text-align: center;
    padding: 30px; }
    @media screen and (max-width: 862px) {
      .side-menu-profile .profile-cover {
        padding: 10px; }
        .side-menu-profile .profile-cover h2 {
          font-size: 18px !important; }
        .side-menu-profile .profile-cover img {
          width: 150px !important; } }
    .side-menu-profile .profile-cover img {
      width: 200px;
      border-radius: 50%; }
    .side-menu-profile .profile-cover h2 {
      margin-top: 20px;
      font-size: 22px; }
    .side-menu-profile .profile-cover p {
      font-size: 15px; }
  .side-menu-profile ul li {
    padding: 10px;
    padding-left: 20px;
    border-top: 1px solid #EDEDED; }
    .side-menu-profile ul li i {
      margin-right: 10px; }

.info-card-row .info-card-single {
  padding: 10px;
  background-color: #FFF;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  .info-card-row .info-card-single .count {
    padding: 10px; }
    @media screen and (max-width: 995px) {
      .info-card-row .info-card-single .count {
        padding: 5px; } }
    .info-card-row .info-card-single .count b {
      font-size: 27px; }
      @media screen and (max-width: 995px) {
        .info-card-row .info-card-single .count b {
          font-size: 18px; } }
  .info-card-row .info-card-single .ico-cover {
    padding: 10px; }
    @media screen and (max-width: 995px) {
      .info-card-row .info-card-single .ico-cover {
        padding: 5px; }
        .info-card-row .info-card-single .ico-cover p {
          font-size: 14px; } }
    .info-card-row .info-card-single .ico-cover i {
      font-size: 32px;
      margin-bottom: 10px;
      padding-left: 5%;
      color: #7A7A7A; }
  @media screen and (max-width: 575px) {
    .info-card-row .info-card-single {
      margin-bottom: 20px; } }
@media screen and (max-width: 767px) {
  .info-card-row {
    margin-top: 20px; } }

.cd-titl {
  padding: 25px;
  width: 100%;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 800;
  color: #6742c3; }

.mypost-cover .my-post {
  border-radius: 30px;
  padding: 15px;
  background-color: #FFF;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  margin-bottom: 20px; }
  .mypost-cover .my-post .post-h4 {
    padding: 10px;
    border-bottom: 1px solid #F2F2F2; }
    .mypost-cover .my-post .post-h4 h4 {
      height: 40px;
      overflow: hidden;
      font-size: 16px;
      margin-bottom: 0px; }
  .mypost-cover .my-post .post-des {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    height: 180px;
    overflow: hidden; }
    @media screen and (max-width: 767px) {
      .mypost-cover .my-post .post-des {
        height: 77px; } }
    @media screen and (max-width: 470px) {
      .mypost-cover .my-post .post-des {
        height: 180px; } }
  .mypost-cover .my-post .reply {
    height: 80px; }
  .mypost-cover .my-post .my-icons {
    border-top: 1px solid #F3F3F3;
    margin-top: 5px; }
    .mypost-cover .my-post .my-icons ul {
      width: 100%; }
      .mypost-cover .my-post .my-icons ul .flot-btn {
        padding: 10px 15px;
        float: left;
        border-right: 1px solid #EFEFEF; }
        .mypost-cover .my-post .my-icons ul .flot-btn .cvmnjh {
          padding: 15px; }
          .mypost-cover .my-post .my-icons ul .flot-btn .cvmnjh .cvmnjh-i {
            height: 40px;
            padding-top: 14px; }
        .mypost-cover .my-post .my-icons ul .flot-btn button {
          padding: 8px 15px;
          cursor: pointer; }
          .mypost-cover .my-post .my-icons ul .flot-btn button i {
            margin-right: 10px; }
        .mypost-cover .my-post .my-icons ul .flot-btn .dropdown-menu {
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          border-radius: 30px;
          padding: 10px; }
      .mypost-cover .my-post .my-icons ul li {
        padding: 10px 20px;
        float: right; }
        .mypost-cover .my-post .my-icons ul li .heart {
          color: #e83e8c;
          font-size: 13px;
          margin-right: 5px; }
        .mypost-cover .my-post .my-icons ul li .reply-color {
          color: #9D9D9D;
          font-size: 13px;
          margin-right: 4px; }

.settincard {
  background-color: #FFF;
  padding: 0px;
  float: none;
  margin: auto;
  margin-top: 100px;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  @media screen and (max-width: 767px) {
    .settincard {
      margin-top: 20px; } }
  .settincard .tab-content {
    padding: 15px;
    padding-top: 25px; }

@media screen and (max-width: 767px) {
  .gff {
    padding: 0px;
    margin-top: 20px; } }
.pagination {
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  .pagination li {
    font-size: 14px; }

.settin-user {
  float: none;
  margin: auto;
  margin-top: 60px; }
  .settin-user .setting-card {
    background-color: #FFF;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35); }
  .settin-user .tab-pane {
    padding: 30px;
    border-radius: 40px; }

.app-post-cont {
  float: none;
  margin: auto;
  color: #6742c3;
  background-color: #FFF;
  box-shadow: 0 2px 3px 0 rgba(218, 218, 253, 0.35), 0 0px 3px 0 rgba(206, 206, 238, 0.35);
  padding: 20px;
  padding-top: 40px;
  border-radius: 40px; }
  .app-post-cont .add-post-noot button {
    font-size: 12px; }
  .app-post-cont #summernote-err {
    float: left;
    text-align: left;
    display: none; }

.smart-valid {
  position: absolute;
  width: 250px;
  background-color: #fd3550;
  left: 105%;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: 9px;
  padding-left: 18px;
  display: none;
  top: -13px;
  z-index: 999; }

@media screen and (max-width: 720px) {
  .smart-valid {
    position: absolute;
    width: 250px;
    background-color: #fd3550;
    left: 70px !important;
    color: #FFF;
    font-size: 13px;
    padding: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 9px;
    padding-left: 38px !important;
    display: none;
    top: -54px !important;
    z-index: 999; }

  .smart-valid::before {
    box-sizing: border-box;
    left: 5px !important;
    background-color: #fd3550;
    content: "";
    position: absolute;
    z-index: 100;
    height: 15px;
    top: 12px !important;
    transform: rotate(135deg);
    width: 15px; } }
.smart-valid::before {
  box-sizing: border-box;
  left: -12px;
  background-color: #fd3550;
  content: "";
  position: absolute;
  z-index: 100;
  height: 25px;
  top: 8px;
  transform: rotate(135deg);
  width: 25px; }

.in-err {
  border: 2px solid #fd3550; }

.smart-val-left {
  right: 100%;
  left: unset; }

.smart-val-left::before {
  left: unset;
  right: -12px; }

#login-err {
  color: #c82333;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 0.9rem; }

.remove-model h5 {
  font-size: 1rem; }
.remove-model .vbn {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer; }
.remove-model .vvg {
  border-right: 1px solid #CCC; }

.edit-model {
  min-width: 800px;
  margin-top: 5%;
  border-radius: 0px; }
  .edit-model .modal-header {
    padding: 8px; }
    .edit-model .modal-header h5 {
      font-size: 1rem; }
  .edit-model .modal-footer {
    padding: 10px; }
  .edit-model .modal-body {
    padding: 5px; }
  .edit-model .note-toolbar button {
    padding: 9px;
    font-size: 12px; }

.profile-roe {
  padding: 10px; }
  .profile-roe .pro-img {
    padding: 5px; }
    .profile-roe .pro-img img {
      width: 100px;
      border-radius: 50px; }
  .profile-roe .pro-dff {
    padding: 23px;
    padding-left: 10px; }
    .profile-roe .pro-dff h6 {
      padding: 0px; }

.cropImage {
  border-radius: 0px !important; }

.cropFrame {
  margin-left: -7px; }

#sav {
  margin-left: 15px; }

.verification-info {
  margin-top: 80px;
  margin-bottom: 200px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px; }
  .verification-info span {
    color: #00a8df; }
  .verification-info i {
    font-size: 44px;
    margin-bottom: 30px;
    color: #00a8df; }

.err-404 {
  border-radius: 5px;
  padding: 50px; }
  .err-404 img {
    width: 100px;
    margin-bottom: 10px;
    margin-top: -20px; }
  .err-404 h2 {
    font-weight: 900; }
  .err-404 p {
    font-size: 13px;
    margin-bottom: 20px; }
  .err-404 a {
    color: #FFF !important;
    font-weight: 600; }
  .err-404 i {
    color: #FFF;
    margin-bottom: 0px;
    font-size: 18px;
    padding-top: 4px; }

#errmsg {
  font-size: 14px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #c82333;
  display: none; }

.min-progg {
  margin-bottom: 150px; }

.new-post {
  width: 100%;
  margin-bottom: 20px; }
  .new-post i {
    margin-right: 10px; }

.replay-relay {
  padding: 50px 20px;
  text-align: center; }
  .replay-relay h6 {
    font-size: .9rem;
    margin-bottom: 25px; }

/**TEAM SECTION**/
.row-team {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em;
  text-align: center;
  justify-content: center; }

.row-team h1 {
  margin-top: 1em;
  color: #6742c3;
  font-weight: 600;
  word-spacing: 2px; }

.column-team {
  width: 100%;
  margin-top: -1em;
  padding: 0.2em 0; }

.card-team {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #6742c3;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ffffff;
  margin-top: 2em; }

.card-team .img-container {
  width: 8em;
  height: 8em;
  background-color: #6742c3;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto; }

.card-team img {
  width: 100%;
  border-radius: 50%; }

.card-team h3 {
  font-size: 1.25em;
  font-weight: 600; }

.card-team p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px; }

.icons-team {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between; }

.card-team a {
  text-decoration: none;
  color: inherit;
  font-size: 1.4em; }

.card-team:hover {
  background: linear-gradient(#6742c3, #c44dcc);
  color: #ffffff; }

.card-team:hover .img-container {
  transform: scale(1.15); }

@media screen and (min-width: 768px) {
  section {
    padding: 1em 7.5em; } }
@media screen and (min-width: 992px) {
  section {
    padding: 1em; }

  .card-team {
    padding: 5em 1em; }

  .column-team {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 0.7em; } }

/*# sourceMappingURL=style.css.map */
