@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  color: #6742c3;
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif; }

img {
  max-width: 100%; }

a {
  text-decoration: none;
  outline: none;
  font-weight: 400;
  color: #747272; }

a:hover {
  color: #252525; }

ul {
  margin-bottom: 0;
  padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none; }

.center {
  text-align: center; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.cp {
  cursor: pointer; }

html, body {
  height: 100%; }

p {
  margin-bottom: 0px;
  width: 100%; }

.no-padding {
  padding: 0px; }

.no-margin-bottom {
  margin-bottom: 0px !important; }

.no-margin {
  margin: 0px; }

.hid {
  display: none; }

.top-mar {
  margin-top: 15px; }

.h-100 {
  height: 100%; }

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: .5 !important; }

.container-fluid {
  padding: 0px; }

body {
  background-color: #f7f7ff !important;
  font-family: 'Dosis', sans-serif;
  color: #444444;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem; }
  .btn-xs i {
    font-size: 11px; }

.table .btn-xs {
  margin-right: 5px; }

.err {
  width: 100%;
  text-align: center;
  color: #d81b60; }

.teft-part {
  width: 250px;
  float: left;
  background-color: #FFFFFF;
  height: 100%;
  z-index: 99; }
  @media screen and (max-width: 960px) {
    .teft-part {
      position: absolute;
      margin-left: -250px;
      margin-top: 60px;
      height: calc(100% - 60px); } }

.right-part {
  height: 100%;
  width: calc(100% - 250px); }
  @media screen and (max-width: 960px) {
    .right-part {
      width: 100% !important; } }

#sidebar.active {
  width: 70px; }
  @media screen and (max-width: 960px) {
    #sidebar.active {
      width: 240px; } }

#content.active {
  width: calc(100% - 70px); }
  @media screen and (max-width: 705px) {
    #content.active {
      width: 100% !important; } }

#content, #sidebar {
  transition: all 0.3s; }

@media screen and (max-width: 960px) {
  #sidebar.active {
    margin-left: 0px; } }
@media screen and (min-width: 961px) {
  #sidebar.active .logo-part img {
    margin-top: 1px; }
  #sidebar.active .logo-part span {
    display: none; } }
  @media screen and (min-width: 961px) and (max-width: 960px) {
    #sidebar.active .logo-part span {
      display: block; } }
@media screen and (min-width: 961px) {
  #sidebar.active nav ul li {
    border-bottom: 1px solid #CCC;
    padding: 15px 2px;
    padding-top: 17px; }
    #sidebar.active nav ul li .rit-ico {
      font-size: 15px;
      padding-top: 5px;
      margin-right: 5px; }
    #sidebar.active nav ul li i {
      font-size: 22px; }
    #sidebar.active nav ul li span {
      display: none; }
    #sidebar.active nav ul li:hover span {
      display: block;
      position: absolute;
      background-color: #FFF;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      width: 230px;
      margin-left: 68px;
      padding: 10px;
      margin-top: -34px; }
      #sidebar.active nav ul li:hover span .inner-nav {
        margin-top: 10px; }
      #sidebar.active nav ul li:hover span:hover .inner-nav {
        display: block; }
        #sidebar.active nav ul li:hover span:hover .inner-nav ul {
          margin-left: -10px; }
          #sidebar.active nav ul li:hover span:hover .inner-nav ul li {
            padding: 10px; }
            #sidebar.active nav ul li:hover span:hover .inner-nav ul li i {
              font-size: 17px;
              padding-top: 5px; } }

.teft-part {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
  .teft-part .slimScrollDiv {
    overflow: none !important; }
  .teft-part .logo-part {
    height: 60px;
    padding: 4px 10px;
    padding-top: 5px;
    text-align: left;
    border-bottom: 1px solid #E8E8E8; }
    .teft-part .logo-part span {
      font-size: 21px; }
    .teft-part .logo-part img {
      padding: 3px;
      text-align: left; }
  .teft-part nav ul li {
    padding: 10px 0px;
    font-size: 15px;
    cursor: pointer; }
    .teft-part nav ul li i {
      margin-right: 12px;
      margin-left: 20px;
      color: #5B5B5B; }
    .teft-part nav ul li .rit-ico {
      float: right;
      margin-right: 12px;
      font-size: 15px;
      padding-top: 5px; }
  .teft-part nav ul .active .inner-nav {
    display: block !important;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: -10px; }
  .teft-part nav ul .bottom-line {
    border-bottom: 1px solid #CCC; }
  .teft-part nav ul .inner-nav {
    background-color: #F9F9F9;
    transition: all 0.3s;
    display: none;
    padding-top: 5px; }
    .teft-part nav ul .inner-nav ul li {
      border-bottom: 1px solid #DBDBDB;
      padding: 10px;
      font-size: 15px; }

.float-auto {
  float: none;
  margin: 0 auto; }

.vbkmn {
  padding-top: 10px; }

.right-header {
  background-color: #dfdfdf;
  height: 60px;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 0px 6px 0 rgba(206, 206, 238, 0.54); }
  @media screen and (max-width: 960px) {
    .right-header {
      position: absolute;
      width: 100%;
      z-index: 999; } }
  @media screen and (max-width: 960px) {
    .right-header .search-bar {
      display: none; } }
  .right-header .left-ul {
    margin-bottom: 0px; }
    .right-header .left-ul li {
      float: left;
      padding: 15px; }
      @media screen and (max-width: 364px) {
        .right-header .left-ul li {
          padding-left: 10px; } }
      .right-header .left-ul li i {
        font-size: 18px;
        position: absolute;
        color: #444; }
    .right-header .left-ul .search-bar {
      margin-left: 10px;
      height: 30px; }
      .right-header .left-ul .search-bar input {
        border: 1px solid #dadaf1;
        font-size: 15px;
        width: 330px;
        border-radius: 30px;
        height: 30px;
        padding: .375rem 2.0rem .375rem .75rem;
        background: #f7f7ff; }
      .right-header .left-ul .search-bar i {
        position: relative;
        top: -28px;
        left: 92%;
        color: #000;
        font-size: 14px; }
  .right-header .right-ul {
    float: right;
    margin-right: 20px; }
    @media screen and (max-width: 364px) {
      .right-header .right-ul {
        margin-right: 10px; }
        .right-header .right-ul li {
          padding: 18px 15px !important; } }
    .right-header .right-ul li {
      float: left;
      padding: 18px 25px;
      font-size: 20px; }
      .right-header .right-ul li img {
        width: 40px;
        border-radius: 50px;
        margin-top: -7px; }
    .right-header .right-ul .dropdown-menu {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      margin-top: 20px;
      border-radius: 20px;
      padding: 12px; }
    .right-header .right-ul .badge {
      font-size: 12px;
      position: absolute;
      top: 10px;
      margin-left: -10px; }

.new-messages {
  padding: 0px;
  border-radius: 0px;
  width: 320px; }
  .new-messages .list-title {
    padding: 10px !important;
    font-size: 1rem !important;
    text-align: center; }
    .new-messages .list-title .badge {
      position: relative;
      border-radius: 2px;
      color: #fff;
      background-color: #fd3550;
      margin-top: -15px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px; }
  .new-messages .message-item {
    padding: 10px !important; }
    .new-messages .message-item h6 {
      margin-bottom: 2px; }
    .new-messages .message-item p {
      font-size: 13px;
      margin-bottom: -5px; }
    .new-messages .message-item small {
      font-size: 12px; }
    .new-messages .message-item img {
      margin-right: 1rem !important;
      margin-top: 2px !important;
      width: 60px !important;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      background-color: #FFF;
      padding: 2px;
      margin-left: 5px; }
  .new-messages .foter-message {
    text-align: center;
    padding: 10px !important; }
    .new-messages .foter-message p {
      text-align: center;
      font-size: .9rem; }
  .new-messages .notification-item {
    padding: 10px !important; }
    .new-messages .notification-item i {
      font-size: 24px;
      margin-top: 5px;
      margin-left: 2px; }
    .new-messages .notification-item h6 {
      margin-bottom: 2px;
      font-size: 13px; }
    .new-messages .notification-item p {
      font-size: 12px; }

.user-details {
  padding: 0px;
  margin: 0px; }
  .user-details ul li {
    padding: 10px !important;
    float: none;
    border-bottom: 1px solid #E1E1E1;
    padding-left: 15px !important;
    font-size: 1rem !important; }
    .user-details ul li i {
      font-size: 18px !important;
      margin-top: 5px; }
  .user-details .user-info h6 {
    margin-bottom: 0px; }
  .user-details .user-info p {
    font-size: 13px;
    margin-bottom: 5px; }
  .user-details .user-info img {
    width: 50px;
    margin-top: 5px !important;
    margin-left: 6px !important; }

.content-container {
  padding: 20px 30px;
  width: 100%; }
  @media screen and (min-width: 961px) {
    .content-container {
      height: calc(100% - 70px);
      overflow: auto; } }

@media screen and (max-width: 1200px) {
  .content-container {
    margin-top: 50px;
    padding-top: 40px;
    background-color: white; } }
@media screen and (max-width: 986px) {
  .chart-cover {
    margin-top: 25px; } }
@media screen and (max-width: 590px) {
  .content-container {
    margin-top: 40px; }

  .widget-icon {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px !important;
    width: 80%; } }
.info-card {
  background-color: #FFf;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  padding: 15px;
  border-radius: .25rem;
  font-size: .9rem; }
  .info-card span {
    display: none; }
  .info-card .row {
    margin-top: 15px; }
    .info-card .row h2 {
      margin-bottom: 0px;
      margin-top: 8px;
      font-size: 1.7rem; }
    .info-card .row svg {
      margin-top: 10px; }
    .info-card .row .donut-spn svg {
      margin-top: -0px; }

.world-map-row {
  margin: 0px;
  margin-top: 30px;
  background-color: #FFF;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
  .world-map-row .world-map {
    padding: 30px;
    padding-bottom: 0px; }
    .world-map-row .world-map svg {
      margin-top: -30px; }
    .world-map-row .world-map .jqvmap-zoomin {
      padding: 11px 6px;
      padding-right: 6px;
      line-height: 0px;
      text-align: center;
      margin-left: 2px;
      padding-right: 15px;
      margin-top: -10px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px; }
    .world-map-row .world-map .jqvmap-zoomout {
      padding: 11px 6px;
      padding-right: 6px;
      line-height: 0px;
      text-align: center;
      margin-left: 2px;
      padding-right: 15px;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px; }
  .world-map-row .table-col {
    padding: 30px;
    padding-left: 20px;
    margin-top: 17px; }
    .world-map-row .table-col tr {
      border-bottom: 1px solid #EFEFEF; }
      .world-map-row .table-col tr td {
        border-top: 0px !important;
        font-size: .9rem; }

.info-widget-2 {
  margin-top: 20px; }
  .info-widget-2 .widget-2-cover {
    padding: 20px;
    padding-left: 10px;
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
    .info-widget-2 .widget-2-cover .widget-icon {
      padding: 20px 40px;
      padding-left: 20px;
      border-radius: 18px; }
      .info-widget-2 .widget-2-cover .widget-icon i {
        color: #FFFFFF;
        font-size: 34px; }
  .info-widget-2 .color-1 .widget-icon {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }
  .info-widget-2 .color-1 h4 {
    color: #00acc1; }
  .info-widget-2 .color-1 .widget-icon {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(0, 188, 212, 0.4); }
  .info-widget-2 .color-1 h4 {
    color: #00acc1; }
  .info-widget-2 .color-2 .widget-icon {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4); }
  .info-widget-2 .color-2 h4 {
    color: #d81b60; }
  .info-widget-2 .color-3 .widget-icon {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(255, 152, 0, 0.4); }
  .info-widget-2 .color-3 h4 {
    color: #fb8c00; }

#user-icon {
  margin-left: -10px;
  padding-right: 60px; }

.chart-row {
  margin-top: 30px; }
  .chart-row .chart-cover {
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    background-color: #FFF;
    border-radius: 30px;
    padding: 15px; }
    .chart-row .chart-cover .card-header {
      background-color: #FFF;
      font-weight: 800;
      color: #6742c3; }
    .chart-row .chart-cover .card-action {
      float: right; }
      .chart-row .chart-cover .card-action .dropdown-toggle::after {
        display: none; }
      .chart-row .chart-cover .card-action .dropdown-menu {
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        border-radius: 2px; }

.footer-admin {
  padding: 15px;
  border-top: 1px solid #DFDFDF;
  margin-top: 30px; }
  .footer-admin p {
    text-align: center;
    font-size: 0.8rem; }

.page-title {
  width: 100%; }
  .page-title h4 {
    width: 100%; }
  .page-title ul li {
    float: left;
    font-size: 0.9rem; }
    .page-title ul li a {
      color: #008cff !important; }
    .page-title ul li i {
      width: 50px;
      font-size: 18px;
      text-align: center;
      font-size: 13px;
      padding-top: 3px; }

.body-content {
  min-height: 500px;
  padding: 30px 0px; }

.form-body {
  padding: 20px; }

.panel-card {
  background-color: #FFF;
  border-radius: 30px;
  padding: 18px;
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54); }
  .panel-card .panel-header {
    font-weight: 600;
    padding: 12px;
    border-bottom: 1px solid #CCC; }
  .panel-card .panel-body {
    padding: 10px; }

.form-group {
  margin-bottom: 15px; }
  .form-group label {
    padding-top: 6px;
    font-size: 0.9rem; }
  .form-group .form-indicat {
    float: right;
    padding-top: 3px; }
  .form-group .form-control {
    background-color: #f7f7ff;
    border-radius: 20px;
    padding: 5px 10px; }
    .form-group .form-control:focus {
      border: 2px solid #007bff;
      box-shadow: none; }
  .form-group .form-control-curve {
    border-radius: 15px; }

.oter-header {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  padding: 10px;
  position: absolute;
  width: 100%;
  background-color: #FFF; }

.login-cover {
  float: none;
  margin: auto; }
  .login-cover .login-box {
    padding: 30px;
    box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
    border-radius: 40px;
    border-top: 1px solid #6742c3;
    border-bottom: 1px solid #6742c3; }
    .login-cover .login-box .logo-cover {
      margin-bottom: 10px; }
      .login-cover .login-box .logo-cover strong {
        font-size: 2rem;
        width: 100%;
        text-align: center; }
      .login-cover .login-box .logo-cover img {
        width: 100px; }
  .login-cover form {
    padding: 20px;
    width: 100%; }
    .login-cover form .form-group {
      width: 100%;
      margin-bottom: 22px; }
      .login-cover form .form-group input {
        border-radius: 50px; }
      .login-cover form .form-group i {
        position: absolute;
        right: 14px;
        top: 10px; }
    .login-cover form .align-right {
      text-align: right;
      color: #0056b3; }
    .login-cover form .btn-round {
      border-radius: 25px;
      width: 100%;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px; }
  .login-cover .reset-tit {
    text-align: center; }
    .login-cover .reset-tit strong {
      text-transform: uppercase; }

#btn_login_adm {
  background-color: #6742c3;
  margin-top: 10px;
  border-radius: 30px;
  padding: 12px; }

.table tr th, .table tr td {
  font-size: .9rem; }

.remove-model h5 {
  font-size: 1rem; }
.remove-model .vbn {
  width: 50%;
  text-align: center;
  padding: 10px;
  cursor: pointer; }
.remove-model .vvg {
  border-right: 1px solid #CCC; }

.dataTables_filter {
  margin-top: -37px;
  margin-right: 10px; }
  .dataTables_filter input {
    border: 1px solid #dadaf1;
    font-size: 15px;
    width: 330px;
    height: 30px;
    padding: .375rem 2.0rem .375rem .75rem;
    background: #f7f7ff; }

.dataTables_length label {
  padding-top: 12px;
  padding-left: 10px; }
  .dataTables_length label select {
    border: 1px solid #dadaf1;
    font-size: 15px;
    width: 330px;
    height: 30px;
    padding: .375rem 2.0rem .375rem .75rem;
    background: #f7f7ff; }

.dataTables_info {
  max-width: 300px;
  padding-left: 10px;
  padding: 10px;
  margin-top: -9px !important; }

.dataTables_paginate {
  max-width: 300px;
  padding-right: 20px;
  margin-top: -34px !important;
  float: right; }
  .dataTables_paginate a {
    padding: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    padding: .3rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-color: #dee2e6;
    border-right-color: #dee2e6;
    border-bottom-color: #dee2e6;
    border-left-color: #dee2e6; }
  .dataTables_paginate .current {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff; }

.dataTable {
  border-bottom: 1px solid #CCC;
  margin-bottom: -5px !important; }

.bgghn-err {
  margin-top: -10px;
  margin-bottom: 20px;
  display: none; }

/* ===================================== Validation CSS ================================== */
.smart-valid {
  position: absolute;
  width: 250px;
  background-color: #fd3550;
  left: 105%;
  color: #FFF;
  font-size: 16px;
  padding: 8px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  margin-top: 9px;
  padding-left: 18px;
  display: none;
  top: -13px;
  z-index: 999; }

@media screen and (max-width: 720px) {
  .smart-valid {
    position: absolute;
    width: 250px;
    background-color: #fd3550;
    left: 70px !important;
    color: #FFF;
    font-size: 13px;
    padding: 5px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    margin-top: 9px;
    padding-left: 38px !important;
    display: none;
    top: -54px !important;
    z-index: 999; }

  .smart-valid::before {
    box-sizing: border-box;
    left: 5px !important;
    background-color: #fd3550;
    content: "";
    position: absolute;
    z-index: 100;
    height: 15px;
    top: 12px !important;
    transform: rotate(135deg);
    width: 15px; } }
.smart-valid::before {
  box-sizing: border-box;
  left: -12px;
  background-color: #fd3550;
  content: "";
  position: absolute;
  z-index: 100;
  height: 25px;
  top: 8px;
  transform: rotate(135deg);
  width: 25px; }

.in-err {
  border: 2px solid  #fd3550; }

.smart-val-left {
  right: 100%;
  left: unset; }

.smart-val-left::before {
  left: unset;
  right: -12px; }

#login-err {
  color: #c82333;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 0.9rem; }

.nins {
  padding-top: 5px; }

.ads-card {
  margin-bottom: 20px; }
  .ads-card p {
    font-size: .8rem; }

.rcm {
  margin-top: 5px;
  font-size: .77rem; }

.toggle-switch {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */ }
  .toggle-switch .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px; }
  .toggle-switch .switch input {
    opacity: 0;
    width: 0;
    height: 0; }
  .toggle-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .toggle-switch input:checked + .slider {
    background-color: #2196F3;
    height: 25px; }
  .toggle-switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .toggle-switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px); }
  .toggle-switch .slider.round {
    border-radius: 34px; }
  .toggle-switch .slider.round:before {
    border-radius: 50%; }

.range-boot {
  padding-top: 5px; }
  .range-boot .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s; }
  .range-boot .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer; }
  .range-boot .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #2196F3;
    cursor: pointer; }

/*# sourceMappingURL=style.css.map */
